*{ margin: 0; padding:0}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,rgb(255, 255, 255) 94%,#150c25 6%)
}

.navigation{
    width: 100%; height: 20vh; 
    display: flex; justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(tp top, rgb(255, 255, 255) 80%,#150c25 20%);
}
.Logo h1{
    font-size: 1.6 rem;
    animation: agep 2s linear infinite;

}
@keyframes agep{
    from{padding-left: 40px;}
    to { padding-right: 40px;}
}
nav{
    width: 50%;
    justify-content: space-around;
    display: flex;
}
nav a{
    text-decoration: solid;
    color: #150c25;
}
main{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items:left;
}